<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registrer Bruker</title>

</head>
<body>
  {% if failed==1 %}
    <span class="serverError">
      {{ message }}
    </span>
  {% endif %}
  <form action="registerUser.php" method="post">
    <label for="email">Epost</label><input type="email"  name="email" required pattern=".{6,}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="E-post (Test@test.no)"><br>
    <label for="password">Passord</label><input  type="password"  name="password" required pattern=".{4,}" title="Fire bokstaver+"><br>
    <label for="password2">Bekreft passord</label><input  type="password"  name="password2" required pattern=".{4,}" title="Fire Bokstaver+" > <span id="noEqual">De to passordene må være like!!</span><br>
    <label for="firstname">Fornavn</label><input type="text"  name="firstname" required pattern=".{3,}" title="Tre bokstaver+"><br>
    <label for="lastname">Etternavn</label><input type="text"  name="lastname" required pattern=".{3,}" title="Tre bokstaver+"><br>
    <input type="submit" value="Registrer bruker">
  </form>

</body>
</html>
